In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
education_districtwise = pd.read_csv('datasets/education_districtwise.csv')

In [8]:
education_districtwise.head(10)

      DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
0   DISTRICT32   STATE1      13       391       104    875564.0       66.92
1  DISTRICT649   STATE1      18       678       144   1015503.0       66.93
2  DISTRICT229   STATE1       8        94        65   1269751.0       71.21
3  DISTRICT259   STATE1      13       523       104    735753.0       57.98
4  DISTRICT486   STATE1       8       359        64    570060.0       65.00
5  DISTRICT323   STATE1      12       523        96   1070144.0       64.32
6  DISTRICT114   STATE1       6       110        49    147104.0       80.48
7  DISTRICT438   STATE1       7       134        54    143388.0       74.49
8  DISTRICT610   STATE1      10       388        80    409576.0       65.97
9  DISTRICT476   STATE1      11       361        86    555357.0       69.90

In [9]:
# using describe() method to compute descriptive stats
education_districtwise.describe()

           BLOCKS     VILLAGES    CLUSTERS    TOTPOPULAT  OVERALL_LI
count  680.000000   680.000000  680.000000  6.340000e+02  634.000000
mean    10.760294   874.614706  121.226471  1.899024e+06   73.395189
std      9.585360   622.711657   94.040172  1.547475e+06   10.098460
min      1.000000     6.000000    1.000000  7.948000e+03   37.220000
25%      5.000000   390.750000   56.750000  8.226940e+05   66.437500
50%      8.000000   785.500000  101.000000  1.564392e+06   73.490000
75%     13.000000  1204.250000  162.500000  2.587520e+06   80.815000
max     66.000000  3963.000000  592.000000  1.105413e+07   98.760000

In [10]:
education_districtwise['OVERALL_LI'].describe()

count    634.000000
mean      73.395189
std       10.098460
min       37.220000
25%       66.437500
50%       73.490000
75%       80.815000
max       98.760000
Name: OVERALL_LI, dtype: float64

*   `count`: Number of non-NA/null observations
*   `mean`: The arithmetic average
*   `std`: The standard deviation
*   `min`: The smallest (minimum) value
*   `25%`: The first quartile (25th percentile)
*   `50%`: The median (50th percentile)
*   `75%`: The third quartile (75th percentile)
*   `max`: The largest (maximum) value

In [12]:
# describe() method for a column with categorical data
education_districtwise['STATNAME'].describe()

count         680
unique         36
top       STATE21
freq           75
Name: STATNAME, dtype: object

*   `count`: Number of non-NA/null observations
*  `unique`: Number of unique values
*   `top`: The most common value (the mode)
*   `freq`: The frequency of the most common value

In [13]:
# using max() and min() methods to compute the range of the data
range_overall_li = education_districtwise['OVERALL_LI'].max() - education_districtwise['OVERALL_LI'].min()
range_overall_li

np.float64(61.540000000000006)