In [1]:
import pandas as pd

In [4]:
epa_data = pd.read_csv("datasets/c4_epa_air_quality.csv", index_col=0)
epa_data.head()

,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3

In [8]:
epa_data.describe()

       arithmetic_mean         aqi
count       260.000000  260.000000
mean          0.403169    6.757692
std           0.317902    7.061707
min           0.000000    0.000000
25%           0.200000    2.000000
50%           0.276315    5.000000
75%           0.516009    9.000000
max           1.921053   50.000000

In [9]:
epa_data["state_name"].describe()

count            260
unique            52
top       California
freq              66
Name: state_name, dtype: object

In [12]:
print(f"the mean value from the aqi column: {epa_data["aqi"].mean()}")
print(f"the median value from the aqi column: {epa_data["aqi"].median()}")
print(f"the min value from the aqi column: {epa_data["aqi"].min()}")
print(f"the max value from the aqi column: {epa_data["aqi"].max()}")
print(f"the standard deviation for the aqi column: {epa_data["aqi"].std(ddof=1)}")

the mean value from the aqi column: 6.757692307692308
the median value from the aqi column: 5.0
the min value from the aqi column: 0
the max value from the aqi column: 50
the standard deviation for the aqi column: 7.061706678820724