In [1]:
import pandas as pd
from scipy import stats

In [2]:
education_districtwise = pd.read_csv("../datasets/education_districtwise.csv").dropna()
education_districtwise.head()

      DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
0   DISTRICT32   STATE1      13       391       104    875564.0       66.92
1  DISTRICT649   STATE1      18       678       144   1015503.0       66.93
2  DISTRICT229   STATE1       8        94        65   1269751.0       71.21
3  DISTRICT259   STATE1      13       523       104    735753.0       57.98
4  DISTRICT486   STATE1       8       359        64    570060.0       65.00

In [3]:
state21 = education_districtwise[education_districtwise['STATNAME'] == "STATE21"]

In [4]:
state28 = education_districtwise[education_districtwise['STATNAME'] == "STATE28"]

In [5]:
sampled_state21 = state21.sample(n=20, replace = True, random_state=13490)

In [6]:
sampled_state28 = state28.sample(n=20, replace = True, random_state=39103)

In [7]:
sampled_state21['OVERALL_LI'].mean()

np.float64(70.82900000000001)

In [8]:
sampled_state28['OVERALL_LI'].mean()

np.float64(64.60100000000001)

In [9]:
stats.ttest_ind(a=sampled_state21['OVERALL_LI'], b=sampled_state28['OVERALL_LI'], equal_var=False)

TtestResult(statistic=np.float64(2.8980444277268735), pvalue=np.float64(0.006421719142765237), df=np.float64(35.20796133045557))